body{
  height: 100%;
}

.box{
  width: fit-content;
  margin-right: 0;
  border: 1px solid grey;
  max-width: 345px;
}

.icon{
  width: fit-content;
  margin-right: 0;
  max-width: 75px;
  display: flex;
  flex-direction: column;
}

.resizeable{
  resize: both;
}

.filenames{
  line-height: 1;
  text-align: center;
  max-width: 75px;
}

.deleteButton{
  float: right;
}

.textbox{
  resize: both;
  background: transparent;
  border: none;
  color: inherit;
  font: inherit
}

.textbox:focus{
  outline: none;
  border: none;
}

.hidden{
  display:none;
}

.show{
  display: default;
}
